body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    background-color: #0c1dde;
    padding: 10px;
    
}
.header img {
    height: 40px;
    margin-right: 10px;
}
.header nav {
    display: flex;
    gap: 15px;
}
.header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 50px 20px;
}
.content {
    padding: 20px;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.section p {
    font-size: 16px;
    line-height: 1.5;
}
.section img {
    width:100%;
    max-width: 300px;
    margin: 30px 0;
}
.box{
    display: flex;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}
.card {
    background-color: #2de7c8;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.card img {
    width: 100%;
    max-width: 150px;
    border-radius: 500%;
    
}
.card h3 {
    font-size: 180 px;
    margin: 10px 0;
}
.card p {
    font-size: 14px;
    margin: 5px 0;
img   {
       max-width: 100px
       height auto;
}
.section{
    display: flex;
}
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 900px;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
.kotak {
    display: flex;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
h2 {
margin-bottom: 20px;
color: #333;
font-size: 24px;
}

.input-group {
margin-bottom: 15x;
}

.input-group input,
.input-group textarea {
width: 120%;
padding: 20px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 16px;
}

textarea {
resize: none;
height: 100px;
}

.submit-btn {
background-color: #508D4E;
color: white;
padding: 10px 20px;
border: none;
border-radius: 20px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

.submit-btn:hover {
background-color: #FF9478;
}
    

.contact-form {
    background-color: #c6cc1b;
    padding: 90px;
    border-radius: 5px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2d4bc4;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px 20px;
    background-color: #329b3b;
    color: rgb(249, 255, 246);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    background-color: #10e6fa;
    text-align: center;
    padding: 10px;
}
.slideshow-container {
    margin-top: 30px; /* Atur sesuai kebutuhan */
    margin-bottom: 30px;
}
